<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataProvider" value="MySql.Data.MySqlClient" />
    <add key="ConnectionStringName" value="MySql_Teste" />
  </appSettings>
  <connectionStrings>
    <add name="MySql_Teste" connectionString="Server=localhost;Database=ImobiliariaPatricio;Uid=root;Pwd=ca013976;Connect Timeout=30;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>